.container  
  - var c = 0;
  h1 Patients List
  button#save.submit(value='Submit' style='font-size:20px') Save Results
  div#infoModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='#finaliseModalLabel' aria-hidden='true')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          h5#infoModalLabel.modal-title Validator Details

        div.modal-body
          div.form-group.form-control-static.pull-left
            label(for='nameInput') Name:
            input#nameInput(type='text')
            br
            label(for='gmcInput') GMC Number:
            input#gmcInput(type='text')
            br
            label(for='specialtyInput') Specialty:
            input#specialtyInput(type='text')
            br
            label(for='resultsFileInput') Select results file:
            input#reusltsFileInput(type='file')

        div.modal-footer
          button.btn.btn-primary(type='button' onclick='f.saveUserInfo()') Show Patients
